<?xml version="1.0" encoding="UTF-8"?>
<phpunit 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    backupGlobals="true" 
    bootstrap="../../phpunit/vendor/autoload.php" 
    colors="true" 
    processIsolation="false" 
    stopOnError="false" 
    stopOnFailure="false" 
    stopOnIncomplete="false" 
    stopOnSkipped="false" 
    stopOnRisky="false" 
    timeoutForSmallTests="1" 
    timeoutForMediumTests="10" 
    timeoutForLargeTests="60" 
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.3/phpunit.xsd" 
    cacheDirectory=".phpunit.cache">
  <testsuites>
    <testsuite name="Endpoint">
      <directory>tests</directory>
      <!--<file>/path/to/MyTest.php</file>
                <exclude>/path/to/exclude</exclude> -->
    </testsuite>
  </testsuites>
</phpunit>
